Assign Asset
= form_for [ @asset, Assignment.new ], html: {class: 'ajax'} do |f|
  = f.select :category, options_for_select(AssetHelper::AssignmentOptions, :selected => 'Unassigned')
  = f.text_field :assignee_id, placeholder: 'AD ID/Project Code'
  = f.text_field :start_date, type: :date, value: Date.today
  = f.text_field :end_date, type: :date
  = f.submit class: 'btn'