#dashboard_page.page
  .row
    %a{href: '#import_assets', 'data-toggle' => :modal}
      %span.icon-plus-sign
    -#- @assets = Asset.with_warranty_less_than_3_months
    -#- @assets = Asset.all
    - if true #@assets.present?
      #warranty_pending_assets.jumbotron.dashboard
        .title
          Assets With warranty expiring in less than 1 Month
        #warranty_pending_assets_list
          -#= render :partial => 'assets/asset_table'

  .row#asset_details.jumbotron.tiles-container
    %label.jumbotron-end.btn-link.view-more-link{for: 'view-more'} View More
    %ul.assets-tiles.thumbnails
      - AssetType.all.each do |asset_type|
        - asset_unassigned_count = asset_type.unassigned_asset_count
        %li.tile.text-center.col-sm-6
          .thumbnail
            .flip.glyphicon.glyphicon-info-sign
            .card
              .front.face
                - if asset_unassigned_count > 0
                  -#%label.text-center.alert-success.asset-label{'data-url' => assets_path(asset_type_id: asset_type.id, assignment: :unassigned)}
                    0
                    = "Available [#{asset_unassigned_count}]"
                - else
                  %label.text-center.alert-danger.asset-label Not Available
                -#-require 'pry'; binding.pry
                %img.asset-image{src: asset_type.image}
              .back.face
                -#= pie_chart asset_type.statistics

            .asset-name
              = "#{asset_type.name} [#{asset_type.total_asset_count}]"

            -#%button.btn.btn-block.btn-default{'data-url' => assets_path(asset_type_id: asset_type.id)} View All
            = link_to 'View All', assets_path(asset_type_id: asset_type.id)

#import_assets.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Import
  = form_tag import_assets_path ,html: {class: 'ajax'} do
    .modal-body.form-horizontal
      .control-group
        -#= t.label :country_id, 'Country', class: 'control-label'
        .controls
          -#= t.select :country_id, options_for_select([['Select', nil]] + Country.all.map{|c| [c.name, c.id]})
          -#= t.select :country_id, country_select
      .control-group
        -#= t.label :name, 'Office Name', class: 'control-label'
        .controls
          -#= t.text_field :name
      = file_field_tag 'Assets CSV'
      = link_to 'Sample CSV', sample_assets_csv_assets_path
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      = submit_tag 'Import', class: 'btn'