#dashboard_page.page
  .row
    -#- @assets = Asset.with_warranty_less_than_3_months
    -#- @assets = Asset.all
    - if true #@assets.present?
      #warranty_pending_assets.jumbotron.dashboard
        .title
          Assets With warranty expiring in less than 1 Month
        #warranty_pending_assets_list
          -#= render :partial => 'assets/asset_table'

  .row#asset_details.jumbotron.tiles-container
    %label.jumbotron-end.btn-link.view-more-link{for: 'view-more'} View More
    %ul.assets-tiles.thumbnails
      - AssetType.all.each do |asset_type|
        - asset_unassigned_count = asset_type.unassigned_asset_count
        %li.tile.text-center.col-sm-6
          .thumbnail
            .flip.glyphicon.glyphicon-info-sign
            .card
              .front.face
                - if asset_unassigned_count > 0
                  -#%label.text-center.alert-success.asset-label{'data-url' => assets_path(asset_type_id: asset_type.id, assignment: :unassigned)}
                    0
                    = "Available [#{asset_unassigned_count}]"
                - else
                  %label.text-center.alert-danger.asset-label Not Available
                -#-require 'pry'; binding.pry
                %img.asset-image{src: asset_type.image}
              .back.face
                -#= pie_chart asset_type.statistics

            .asset-name
              = "#{asset_type.name} [#{asset_type.total_asset_count}]"

            -#%button.btn.btn-block.btn-default{'data-url' => assets_path(asset_type_id: asset_type.id)} View All
            = link_to 'View All', assets_path(asset_type_id: asset_type.id)