%legend
  = @asset_type.name
= form_for ([@asset_type, @asset]) do |t|
  -#= t.hidden_field :form_id, value: @form.try(:id)
  .form-group
    = t.fields_for :properties do |ff|
      - asset_properties = @asset.properties
      - asset_properties.each do |field_name|
        .row
          .col-md-2
            = ff.label field_name
          .col-md-2
            = ff.text_field field_name
        %br

  -#.tabbable
    -#%ul.nav.nav-tabs
      %li.active
        %a{'data-toggle' => 'tab', href: '#tab_assignment'} General
      - (input_groups.collect(&:name)||[]).each do |name|
        %li
          %a{'data-toggle' => 'tab', :href => "#tab_#{name.snake_case}"}
            = name

    .tab-content
      -#.tab-pane.active{id: 'tab_assignment'}
        .form-horizontal
          .form-group
            = t.label :asset_id, 'Asset ID', class: 'control-label'
            = t.text_field :asset_id
          .form-group
            = t.label :serial, 'Serial', class: 'control-label'
            = t.text_field :serial
          .form-group
            = t.label :office_id, 'Office', class: 'control-label'
            = t.select :office_id, options_for_select([['Select', nil]] + Office.all.map{|c| [c.name, c.id]}, @asset.office_id)
              %a{href: '#new_office', 'data-toggle' => :modal}
                %span.glyphicon.glyphicon-plus-sign
          .form-group
            = t.label :company_id, 'Company', class: 'control-label'
            = t.select :company_id, options_for_select([['Select', nil]] + Company.all.map{|c| [c.name, c.id]}, @asset.company_id)
            %a{href: '#new_company', 'data-toggle' => :modal}
              %span.glyphicon.glyphicon-plus-sign
          .form-group
            = t.label :model_id, 'Model', class: 'control-label'
            = t.select :model_id, options_for_select([['Select', nil]] + Model.where(asset_type_id: @asset_type).map{|c| [c.name, c.id]}, @asset.model_id)
            %a{href: '#new_model', 'data-toggle' => :modal}
              %span.glyphicon.glyphicon-plus-sign
          .form-group
            = t.label :warranty_id, 'Warranty', class: 'control-label'
            = t.select :warranty_id, options_for_select([['Select', nil]] + Warranty.all.map{|c| [c.name, c.id]},  @asset.warranty_id)
            %a{href: '#new_warranty', 'data-toggle' => :modal}
              %span.glyphicon.glyphicon-plus-sign
          .form-group
            = t.label :warranty_start, 'Warranty Start Date', class: 'control-label'
            = t.text_field :warranty_start, type: :date, 'data-value' => Time.now.strftime('%d/%m/%Y'), value: Time.now.strftime('%d/%m/%Y')
          .form-group
            = t.label :procurement_date, 'Procurement Date', class: 'control-label'
            = t.text_field :procurement_date, type: :date, 'data-value' => Time.now.strftime('%d/%m/%Y'), value: Time.now.strftime('%d/%m/%Y')

      - input_groups.each do |group|
        -#= t.fields_for 'asset_attributes_groups_attributes[]', group do |f|
          .tab-pane{:id => "tab_#{group.name.snake_case}"}
            .form-horizontal
              = f.hidden_field :form_attributes_group_id
              = f.hidden_field :name
              - group.asset_attributes.each_with_index do |asset_attribute, i|
                = f.fields_for 'asset_attributes_attributes[]', asset_attribute do |g|
                  - form_attribute = asset_attribute.form_attribute
                  .form-group
                    = g.hidden_field :name
                    = g.hidden_field :form_attribute_id
                    - key = form_attribute.name.snake_case
                    = g.label :value, form_attribute.name, class: "control-label"
                    - params = {id:  "asset_#{key}_#{i}", type: form_attribute.input_element_type}
                    - params[:required]= :required if form_attribute.required?
                    = g.text_field :value, params

  .form-group
    = t.submit "Create", class: "btn btn-primary btn-lg"