.breadcrumb
  .pull-right
    = link_to 'Clone', clone_path(:id => @asset.id), class: 'btn btn-info'
    =link_to 'Remove', asset_path(@asset), :method => :delete, class: 'btn btn-danger'
  - if @labels.present?
    .labels
      - @labels.each do |label|
        %span.label.label-important
          = label

-#- input_groups = @asset.asset_attributes_groups.load
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#tab_general_data'} General
    -#- (input_groups.pluck(:name)||[]).each do |name|
      %li
        %a{"data-toggle" => "tab", href: "#tab_#{name.snake_case}"}
          = name
    %li
      %a{'data-toggle' => 'tab', href: '#tab_assignment'} Assignment


  .tab-content
    .tab-pane.active{:id => 'tab_general_data'}
      .form-horizontal
        -@asset.asset_type.properties.each do |property|
          .control-group
            %label.control-label
              = property
            .controls
              %input{ value: @asset[property], readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Serial Number
        -#  .controls
        -#    %input{ value: @asset.serial, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Office
        -#  .controls
        -#    %input{ value: @asset.office.name, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Company
        -#  .controls
        -#    %input{ value: @asset.company.name, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Model
        -#  .controls
        -#    %input{ value: @asset.model.name, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Warranty
        -#  .controls
        -#    %input{ value: @asset.warranty.name, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Warranty Start Date
        -#  .controls
        -#    %input{ value: @asset.warranty_start, readonly: :readonly, type: :text}
        -#.control-group
        -#  %label.control-label
        -#    Procurement Date
        -#  .controls
        -#    %input{ value: @asset.procurement_date, readonly: :readonly, type: :text}
    -#- input_groups.each do |group|
      .tab-pane{id: "tab_#{group.name.snake_case}"}
        .form-horizontal
          - group.asset_attributes.load.each do |asset_attribute|
            .control-group
              %label.control-label
                = asset_attribute.name
              .controls
                %input{ value: asset_attribute.value, readonly: :readonly, type: :text}

    .tab-pane{:id => 'tab_assignment'}
      - assignments = @asset.assignments.order(assignment_date: :desc)

      = render :partial => 'assignments/assignment_form'

      - if assignments.size > 0
        %table.table
          %thead
            %tr
              %th S. No
              %th Status
              %th Start Date
              %th End Date
          %tbody
            - i = 0
            - assignments.each do |assignment|
              %tr{ id: assignment.id }
              %td.sno
                = i+=1
              %td.emp_id
                = assignment.category
              %td.assignment_date
                = assignment.start_date.strftime('%d %b, %Y') rescue ''
              %td.duration
                = assignment.end_date.strftime('%d %b, %Y') rescue ''

      - else
        No Assignments

-#:javascript
-#  $(function(){
-#    if (#{@assignment_errors.present?}) {
-#    //alert('aaa');
-#     $('.general').removeClass('.active');
-#     $('.assignment').addClass('.active');
-#    }
-#  })