.breadcrumb
  .pull-right
    = link_to 'Clone', clone_asset_path(id: @asset.id), class: 'btn btn-info'
    %a.btn.btn-danger{href: '#delete'} Remove
  - if @labels.present?
    .labels
      - @labels.each do |label|
        %span.label.label-important
          = label


- input_groups = @asset.asset_attributes_groups.load
.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#tab_general_data'} General
    - (input_groups.pluck(:name)||[]).each do |name|
      %li
        %a{"data-toggle" => "tab", href: "#tab_#{name.snake_case}"}
          = name
    %li
      %a{'data-toggle' => 'tab', href: '#tab_assignment'} Assignment


  .tab-content
    .tab-pane.active{:id => 'tab_general_data'}
      .form-horizontal
        .control-group
          %label.control-label
            Asset ID
          .controls
            %input{ value: @asset.asset_id, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Serial Number
          .controls
            %input{ value: @asset.serial, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Office
          .controls
            %input{ value: @asset.office.name, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Company
          .controls
            %input{ value: @asset.company.name, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Model
          .controls
            %input{ value: @asset.model.name, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Warranty
          .controls
            %input{ value: @asset.warranty.name, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Warranty Start Date
          .controls
            %input{ value: @asset.warranty_start, readonly: :readonly, type: :text}
        .control-group
          %label.control-label
            Procurement Date
          .controls
            %input{ value: @asset.procurement_date, readonly: :readonly, type: :text}
    - input_groups.each do |group|
      .tab-pane{id: "tab_#{group.name.snake_case}"}
        .form-horizontal
          - group.asset_attributes.load.each do |asset_attribute|
            .control-group
              %label.control-label
                = asset_attribute.name
              .controls
                %input{ value: asset_attribute.value, readonly: :readonly, type: :text}

    .tab-pane{:id => 'tab_assignment'}
      - assignments = @asset.assignments.order(assignment_date: :desc)

      = render :partial => 'assignment_form'

      - if assignments.size > 0
        %table.table
          %thead
            %tr
              %th S. No
              %th Status
              %th Since Date
              %th Duration
          %tbody
            - i = 0
            - ([Assignment.new( assignment_date: Time.now)] + assignments).each_cons(2) do |ass_group|
              - next if ass_group.size < 1
              - assignment = ass_group[1]
              %tr{ id: assignment.id }
                %td.sno
                  = i+=1
                %td.emp_id
                  = assignment.description
                %td.assignment_date
                  = assignment.assignment_date.strftime('%d %b, %Y') rescue ''
                %td.duration
                  = "#{((ass_group[0].assignment_date - assignment.assignment_date)/86400).round} days" rescue ''
      - else
        No Assignments