!!!
%html
  %head
    %title= yield :title || 'Inventory'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.default-theme
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %a.brand.pjax{href: "/admin/"}
              Tw Inventory
              %small Admin
            .nav-collapse
              %ul.nav.pull-right.root_links
                %li.dashboard_root_link
                  %a.pjax{href: "/admin/"} Dashboard
                %li
                  %a{href: "/"} Home
                -#%li
                -#  %a#logout.pull-right.btn.btn-default{href: logout_path}
                -#    %i.icon-off

      = yield

