!!!
%html
  %head
    %title= yield :title || 'Inventory'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.default-theme
    #notifications

    .container
      .navbar
        .navbar-inner
          = link_to 'TW Inventory', root_path, class: 'brand'
          -#- if current_user.admin?
            %ul.nav
              %li
                = link_to 'Asset Types', ''
              %li
                = link_to 'Assets', ''

        %a#logout.pull-right.btn{href: logout_path}
          ='Logout'

    = yield

