!!!
%html
  %head
    %title= yield :title || 'Inventory'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.default-theme
    .container-fluid
      .navbar.navbar-default
        .navbar-header
          = link_to 'TW Inventory', root_path, class: 'navbar-brand'
          - if true || current_user.admin?
            %ul.nav.navbar-nav
              %li
                = link_to 'Asset Types', asset_types_path
              %li
                = link_to 'Assets', assets_path

        %a#logout.pull-right.btn{href: logout_path}
          %span.icon-off

      = yield

